* {
    box-sizing: border-box;
}
img {
    border: 2px solid rebeccapurple;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:blanchedalmond;
    text-align: center;
}
a {
    text-decoration: none;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    padding: 6px;
    margin: 10px;
    background-color:rebeccapurple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
    list-style-type: circle;
}

.ingredients {
    text-align: left;
    
}
.steps {
    text-align: left;
}
a:hover{
    background-color: pink;
}
.button {
    display: inline-flex;
    margin: 2px;
    
}
.button-main a{
    text-decoration: none;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    padding: 6px;
    margin: 10px;
    background-color: rebeccapurple;

}
.info {
    display: inline-flex;
    padding: 20px;

}
#main {
    display:block;
}